@media screen and (max-width:1199px){
    .header-top .logo{
        line-height:60px;
    }
    .header-top .navbar.navbar-default.navbar-fixed-top{
        padding-top:0px;
    }
}

@media screen and (min-width:970px){
    .carousel-indicators {
        bottom: -100px;
    }
}

@media screen and (max-width:970px){
    .partner-logo ul li{
        vertical-align: middle;
        width: calc(100% / 3 - 5px);
        display: inline-block;
        list-style: none;
    }

    .partner-logo ul li a img{
        width: 80%;
    }
}

@media screen and (max-width:750px){

    .partner-logo ul{
        padding-left: 0;
    }

    .partner-logo ul li{
        vertical-align: middle;
        width: calc(100% / 2 - 5px);
        display: inline-block;
        list-style: none;
    }

    .partner-logo ul li a img{
        width: 60%;
    }

    .carousel-control .glyphicon{
        display: none;
    }
    
}
